* {
    /* Свойства для сброса начальных стилей элементов */
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    width: 1440px;
    height: 70px;
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    padding: 60px 0;
    height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    padding: 100px 0;

    background-color: #FFFFFF;
}

select {
    /* Стили для выпадающего списка */
    border-radius: 5px;
    padding: 8px 12px;
    width: 150px;
    height: 36px;
    background-repeat: no-repeat;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    font-weight: 400;
    font-size: 16px;
    list-style: none;


    background-image: url("./assent/images/solar_map-arrow-up-bold.svg");
    background-repeat: repeat-y;
    background-position: 0;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 10px 27px 9px 29px;
   
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
     margin: 60px 0;
}

table {
    /* Стили для таблицы */
    width: 300px;
    height: 196px;
    margin-bottom: 100px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 15px;
}

footer {
    /* Стили для футера */
    width: 1440px;
    height: 70px;
    background-color: #A3A7FF;
    padding: 26px 0;
}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}